version: '3.9'
services:
  backend:
    build: ./backend
    container_name: bestamoozscreener-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
  frontend:
    build: ./frontend
    container_name: bestamoozscreener-frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
